
body {
  /*padding: 50px;*/
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.fixed-width {
    width:900px;
    margin: 10px;
}

a {
  color: #00B7FF;
}

.menssagem-block p {
    padding: 8px;
}

.glyphicon {
    pointer-events: all;
}

.option-selected {
    font-style: italic;
    color:gray;
}

.table-show {
    height:0px;
    font-size:11px;
}

.table-hide {
    height:0px;
    font-size:11px;
    visibility:hidden;
}
/* Clóvis - 20170630...

.table > thead > tr > th{
    border-right: 1px solid #ddd;
    border-bottom:0;
}

.table > tbody > tr > td{
    border-right: 1px solid #ddd;
}

.table > thead > tr > th:last-of-type {
    border-right: 0px;
}

.table > tbody > tr > td:last-of-type {
    border-right: 0px;
}

.panel-body {
    padding: 0;
}

.panel-body > .table{margin-bottom:0px;}
/* ...Clóvis - 20170630 */

